@import "tailwindcss";

/* {
margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */

.container-center {
  width: 70%;
  margin: auto;
  height: 30%;
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #E0E0E0;
}

/* Custom colors */
.bg-purple {
  background-color: #9B1F82; /* main background */
}

.bg-gray {
  background-color: #4B0E6F; /* for the sidebar */
}

.medium-gray {
  background-color: #5E6A71; /* for secondary buttons and dividers */
}

.light-gray {
  color: #E0E0E0; /* for text in the sidebar and other elements */
}

.vibrant-orange {
  background-color: #FF6F00; /* primary buttons */
}

.royal-blue {
  color: #0061F2; /* primary buttons or links */
}

.dark-blue {
  color: #003B5C; /* a more subdued blue for highlights */
}

.white {
  color: #FFFFFF; /* for text on dark backgrounds */
}

.success-green {
  color: #007F5F; /* for success messages */
}

.error-red {
  color: #FF4C4C; /* for error messages */
}

.warning-yellow {
  color: #FFB74D; /* for alerts */
}